<!doctype html>
<html lang="en">
  <head>
    <!-- meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS/ BoxIcons-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <title>CRUD Reading List</title>
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Manga List</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li> 
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            -->
          </div>
        </div>
    </nav>
    <div class="container">
      <a href="/create" class="btn btn-outline-dark mt-4"><i class='bx bxs-book-add bx-sm'></i></a>
      <table class="table table-bordered text-center mt-4">
        <thead>
          <tr class="bg-dark text-white">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Genre</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
        <tbody>
          <% results.forEach((book)=>{ %>
          <tr>
            <td><%= book.id %></td>
            <td><%= book.name %></td>
            <td><%= book.author %></td>
            <td><%= book.genre %></td>
            <td><%= book.status %></td>
            <td>
              <a href="/edit/<%= book.id %>" class="btn btn-outline-dark"><i class='bx bxs-edit'></i></a>
              <a href="/delete/<%= book.id %>" class="btn btn-outline-danger"><i class='bx bxs-trash'></i></a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>